html {
    width: 50%;
    margin-left: 25%;
    color: #000000;
    background-color: #eee7e0;
    font-family: monospace;
    font-size: 1.3em;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    -webkit-user-select: none;
    user-select: none;
}

p {
    text-align: justify;
}

ul {
    padding-left: 2em;
    list-style-type: none
}

ul li::before {
    content: "> ";
}

.project {
    border-top: solid 1px black;
    margin-bottom: 1em;
}

a {
    color: #000000;
    text-decoration: underline solid;
    text-decoration-thickness: 1px;
    transition: text-decoration-thickness 0.2s ease-in-out;
}

a:hover {
    text-decoration-thickness: 3px;
}

::selection, ::-moz-selection {
    background: #ccc6bf;
}

@media only screen and (max-width: 1000px) {
    html {
        width: 90%;
        margin-left: 5%;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 500px) {
    html {
        width: 95%;
        margin-left: 2.5%;
        font-size: 1.1em;
    }
}
